:root {
  --secondary-color: #616476;
  --primary-color: #ffffff;
  --primary-purple: #d0d6f9;
  --destImg : url("../assets/destination/background-destination-mobile.jpg") center/cover no-repeat;
}


.dest-container {

  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.dest-container .title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.dest-container .bold-number {
  color: var(--secondary-color);
  font-weight: bold;
  display: contents;
}
.dest-container ul {
  display: flex;
  flex-direction: row;
  font-family: "Barlow Condensed", sans-serif;
  width: 100%;
  letter-spacing: 2.36px;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.dest-container li {
  padding: 10px;
  margin: 0;
}

.dest-container a {
  text-decoration: none;
  color: var(--primary-white);
}
.dest-container a.active {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 4px;
}
.moon-image {
  width: 170px;
  height: 170px;
  margin: 40px 0;
}
.dest-container h1 {
  font-size: 56px;
  margin: 0;
}
.dest-container hr {
  border: 0.5px solid var(--secondary-color);
  width: 90%;
  margin: 20px 0;
}
.dest-container h2 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-top: 0;
}
.dest-container h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: var(--primary-purple);
  font-weight: normal;
  text-transform: uppercase;
}
.dest-data {
  margin: 10px;
}
/* tablet view  */
@media screen and (min-width: 768px) {
  :root{
    --destImg : url("../assets/destination/background-destination-tablet.jpg") center/cover no-repeat;
  }

  .dest-container {
    height: calc(100vh - 96px);
    margin: 0;
    justify-content: space-around;
    padding: 30px;
  }
  .dest-container .title {
    font-size: 20px;
    letter-spacing: 3.38px;
    align-self: start;
  }
  .dest-container img {
    width: 300px;
    height: 300px;
  }
  .moon-image {
    width: 300px;
    height: 300px;
    margin: 40px 0;
  }
  .dest-container ul {
    letter-spacing: 2.7px;
    font-size: 16px;
  }
  .dest-container h1 {
    font-size: 80px;
    margin: 0;
  }
  .dest-container p {
    width: 573px;
    line-height: 28px;
    font-size: 16px;
  }
  .dest-data {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}
@media screen and (min-width: 1024px) {
  :root{
    --destImg : url("../assets/destination/background-destination-desktop.jpg") center/cover no-repeat;
  }
  .dest-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: center;
    align-items: self-start;
  }

  .moon-image {
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    justify-self: center;
    width: 445px;
    height: 445px;;
  }
  .dest-container img {
    width: 445px;
    height: 445px;;
  }

  .dest-full-data {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .dest-container .title {
    font-size: 28px;
    letter-spacing: 4,72px;
    justify-self: flex-start;
    align-self: center;
    padding-left: 40px;

  }
  .dest-container h1 {
    font-size: 100px;
    margin: 0;
    text-align: left;
  }
  .dest-container p {
    line-height: 32px;
    font-size: 18px;
    text-align: start;
    word-spacing: 1px;
    width: 444px;
  }
  .dest-container hr {
    border: 0.5px solid var(--secondary-color);
    width: 444px;
    margin: 20px 0;
  }
}
