:root {
  --primary-blue: #0B0D17;
  --primary-purple: #D0D6F9;
  --primary-white: #FFFFFF;
  --secondary-gray: #979797;
  --font-xl: 150px;
  --font-l: 100px;
  --font-m: 56px;
  --font-s: 32px;
  --font-xs: 28px;
  --bodyImg: url("../assets/home/background-home-mobile.jpg") center/cover no-repeat;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--bodyImg);
  text-align: center;
}

h1 {
  font-family: 'Bellefair', serif;
  color: var(--primary-white);
  font-size: 80px;
  margin: 10px 0;
  line-height: 100px;
  font-weight: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: var(--primary-purple);
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-family: 'Barlow', sans-serif;
  color: var(--primary-purple);
  font-size: 15px;
  line-height: 25px;
  font-weight: lighter;
  margin: 0;
}
